:root {
	--basic-black: #000000;
	--basic-dark: #363636;
	--basic-white: #ffffff;
	--basic-grey: #464646;
	--basic-half-grey: #7e7e7e;
	--basic-grey-light: #e5e5e5;
	--special-yellow: #f7e296;
	--special-green: #91c92f;
	--special-yellow-dark: #f0C52e;
}
	
body {
	min-width: 1460px;
	margin: 0;
	padding: 0;
	font-family: Gilroy;
	font-size: 18px;
	line-height: 22px;
	font-weight: 800;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
	color: var(--basic-black);
}

img {
	max-width: 100%;
	height: auto;
}

.index-logo-header {
	margin-top: -20px;
	margin-left: 60px;
}

.noindex-logo-header:hover{
	opacity: 0.6;
}

.noindex-logo-header:focus{
	opacity: 0.3;
}
	
h1 {
	font-size: 47px;
	line-height: 58px;
	margin: 0 auto;
}

h2 {
	font-size: 47px;
	line-height: 58px;
}

h3 {
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
}
	
header {
	background-color: var(--special-yellow);
	width: 1160px;
	min-height:300px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	
}

.menu-1-header {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	display: flex;
	margin-left: 60px;
	margin-right: 60px;
	align-items: center;
}

.search-input {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	width: 316px;
	height: 50px;
	background-color: var(--special-yellow);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: 0;
	opacity: 0.3;
}

.search-input:hover {
	opacity: 0.6;
}

.search-input:focus {
	opacity: 1;
	
}
.search-button {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	width: 84px;
	height: 50px;
	margin-right: 124px;
	background-color: var(--special-yellow);
	border: 2px solid var(--basic-black);
}

.enter-header {
	padding-left: 20px;
	margin-right: 239px;
	background-image: url(../img/user-header.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;	
}

.enter-header:hover {
	opacity: 0.6;	
}

.enter-header:focus {
	opacity: 0.3;	
}

.exit-header {
	padding-right: 30px;
	opacity:0.3;
}

.compare-header {
	padding-left: 20px;	
	background-image: url(../img/compare-header.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;	
}

.compare-header:hover {
	opacity: 0.6;	
}

.compare-header:focus {
	opacity: 0.3;	
}

.cart-header {	
	padding-left: 20px;
	margin-left: auto;
	background-image: url(../img/cart-header.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;	
}

.cart-header:hover {
	opacity: 0.6;	
}

.cart-header:focus {
	opacity: 0.3;	
}

.menu-2-header {
	height: 22px;
	letter-spacing: 0.2em;
	display: flex;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 54px;
	align-items: center;
}

.catalog {
	margin-right: 19px;
	letter-spacing: 0.1em;
}

.catalog:hover {
	opacity: 0.6;	
}

.catalog:focus {
	opacity: 0.3;	
}

.plus {
	margin-right: 314px;
}

.delivery-header {
	margin-right: 38px;
}

.delivery-header:hover {
	opacity: 0.6;	
}

.delivery-header:focus {
	opacity: 0.3;	
}

.warranty-header {
	margin-right: 10px;
	margin-left: 10px;
}

.warranty-header:hover {
	opacity: 0.6;	
}

.warranty-header:focus {
	opacity: 0.3;	
}

.contacts-header {
	margin-left: auto;
}

.contacts-header:hover {
	opacity: 0.6;	
}

.contacts-header:focus {
	opacity: 0.3;	
}

.catalog-options {
	display: none;
}

.slider-2 {
	display: none;
}

.slider-3 {
	display: none;
}

.warranty-popup {
	display: none;
}

.credit-popup {
	display: none;
}

.big-map {
	display: none;
}

.our-detailes, .write-us {
	letter-spacing: 0.2em;
}

.feedback {
	display: none;
}

main {
	background-color: var(--basic-white);
	width: 1160px;
	min-height:300px;
	margin: 0 auto;
}

main p{
	font-family: Open Sans;
	font-size: 15px;
	line-height: 28px;
}

div.slider p {
	line-height: 20px;
}

.about-us-and-contacts {
	
	width: 1160px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	outline: 1px solid bue;
}

.about-us {
	width: 600px;
	padding-right: 127px;
	outline: 1px solid red;
}

.contacts {
	width: 560px;
	outline: 1px solid green;
}
	





.curiers li{
	font-size: 16px;
	line-height: 28px;
}

ul.curiers{
	list-style-type: circle;
}

.catalog-paths li{
	list-style-type: none;
	display: inline-block;
	font-family: Open Sans;
	font-size: 14px;
	line-height: 19px;
}

.main-catalog {
	padding-left: 30px;
	padding-right: 30px;
	opacity: 0.3;
}

.main-catalog:hover {
	opacity: 0.6;
}

.main-catalog:focus {
	opacity: 0.1;
}

.items-catalog {
	padding-left: 30px;
	padding-right: 30px;
	background-image: url(../img/nav-arrow.svg);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	opacity: 0.3;
}

.items-catalog:hover {
	opacity: 0.6;
}

.items-catalog:focus {
	opacity: 0.1;
}

.selfie-monopods {
	padding-left: 30px;
	padding-right: 30px;
	background-image: url(../img/nav-arrow.svg);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	opacity: 0.3;
}

.filter-section {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.1em;
}

.filter-option {
	font-family: Open Sans;
	font-size: 14px;
	line-height: 19px;
	list-style: none;
}

.show-button, .cart-button {
	font-family: Gilroy;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	background-color: var(--basic-white);
	border: 0;
	letter-spacing: 0.2em;
}

.compare-button {
	font-family: Open Sans;
	font-size: 13px;
	line-height: 18px;
	background-color: var(--basic-white);
	border: 0;
	letter-spacing: 0.1em;
}

.product-description {
	font-family: Gilroy;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
}

.price {
	font-family: Open Sans;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
}
		
footer {
	background-color: var(--basic-dark);
	width: 1440px;
	min-height:324px;
	margin: 0 auto;
	color: white;
}

.index-logo-footer {
	margin-top: 2px;
	margin-left: 140px;
}


.noindex-logo-footer:hover{
	opacity: 0.6;
}

.noindex-logo-footer:focus{
	opacity: 0.3;
}

.menu-1-footer {
	padding-top: 46px;
	margin-left: 140px;
	margin-right: 140px;
	display: flex;
}

.menu-1-footer a{
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	color: white;	
}

.enter-footer {
	margin-left: auto;
	margin-right: 63px;
	padding-left: 20px;
	background-image: url(../img/user-footer.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;
    opacity: 0.7;	
}

.enter-footer:hover {
	opacity: 1;	
}

.enter-footer:focus {
	opacity: 0.3;	
}

.exit-footer {
	padding-right: 30px;
	opacity:0.3;
}

.compare-footer {
	margin-right: 62px;
	padding-left: 20px;
	background-image: url(../img/compare-footer.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;
    opacity: 0.7;	
}

.compare-footer:hover {
	opacity: 1;	
}

.compare-footer:focus {
	opacity: 0.3;	
}

.cart-footer {
	padding-left: 20px;
	background-image: url(../img/cart-footer.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;	
	opacity: 0.7;
}

.cart-footer:hover {
	opacity: 1;	
}

.cart-footer:focus {
	opacity: 0.3;	
}

.address{
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
}

.menu-2-footer {
	margin-right: 140px;
	margin-left: 140px;
	margin-top: 40px;
	display: flex;
}

.menu-2-footer a {
	color: var(--basic-white);
	letter-spacing: 0.2em;
}

.delivery-footer {
	margin-left: auto;
}

.delivery-footer:hover {
	opacity: 0.6;	
}

.delivery-footer:focus {
	opacity: 0.3;	
}

.warranty-footer {
	margin-right: 36px;
	margin-left: 36px;
}

.warranty-footer:hover {
	opacity: 0.6;	
}

.warranty-footer:focus {
	opacity: 0.3;	
}

.contacts-footer {
	margin-right: auto;
}

.contacts-footer:hover {
	opacity: 0.6;	
}

.contacts-footer:focus {
	opacity: 0.3;	
}

.phone-number{
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
}

.partner-links {
	margin-right: 140px;
	margin-left: 140px;
	margin-top: 67px;
	height: 34px;
	display: flex;
}

.partner-class-blank {
	margin-right: auto;
	flex-basis: 80px;
}

.facebook {
	opacity: 0.3;
}

.facebook:hover {
	opacity: 0.6;
}

.facebook:focus {
	opacity: 0.1;
}

.instagram {
	margin-left: 20px;
	margin-right: 20px;
	opacity: 0.3;
}

.instagram:hover {
	opacity: 0.6;
}

.instagram:focus {
	opacity: 0.1;
}

.twitter {
	opacity: 0.3;
}

.twitter:hover {
	opacity: 0.6;
}

.twitter:focus {
	opacity: 0.1;
}

.academy {
	margin-left: auto;
}

.academy:hover {
	opacity: 0.6;
}

.academy:focus {
	opacity: 0.3;
}
	
	







	
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}	
	
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'),
       url('open-sans-v17-latin_cyrillic-300.woff2') format('woff2'),
       url('open-sans-v17-latin_cyrillic-300.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy-300-normal.woff2') format('woff2'), 
	     url('gilroy-300-normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy-800-normal.woff2') format('woff2'), 
	  url('gilroy-800-normal.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}