:root {
	--basic-black: #000000;
	--basic-dark: #363636;
	--basic-white: #ffffff;
	--basic-grey: #464646;
	--basic-half-grey: #7e7e7e;
	--basic-grey-light: #e5e5e5;
	--special-yellow: #f7e296;
	--special-green: #91c92f;
	--special-yellow-dark: #f0C52e;
	--special-white-opacitive03: rgba(255, 255, 255, 0.3);
	--special-black-opacitive03: rgba(0, 0, 0, 0.3);
	--special-black-opacitive06: rgba(0, 0, 0, 0.6);
	--special-form-background: #f2f2f2;
	--special-form-background-hover: #eaeaea;
	--special-form-background-incorrect: #f6dada;
}

body {
	min-width: 1460px;
	margin: 0;
	padding: 0;
	font-family: Gilroy;
	font-size: 18px;
	line-height: 22px;
	font-weight: 800;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
	color: var(--basic-black);
}

img {
	max-width: 100%;
	height: auto;
}

.index-logo-header {
	margin-top: -20px;
	margin-left: 60px;
}

.noindex-logo-header {
	display: block;
	margin-top: -18px;
	margin-left: 60px;
}

.noindex-logo-header:hover{
	opacity: 0.6;
}

.noindex-logo-header:active{
	opacity: 0.3;
}

h1 {
	font-size: 47px;
	line-height: 58px;
}

h2 {
	font-size: 47px;
	line-height: 58px;
}

h3 {
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
	margin-top: 50px;
	margin-bottom: 50px;
}
	
header {
	background-color: var(--special-yellow);
	width: 1160px;
	min-height:300px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid var(--basic-white);
}

.menu-1-header {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	min-height: 50px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 60px;
	margin-right: 60px;
	align-items: center;	
}

.search-form {
	margin-right: 145px;
}

.search-input {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	width: 316px;
	min-height: 48px;
	padding-right: 0px;
	padding-left: 38px;
	background-color: var(--special-yellow);
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: 0px 17px;
	border: 0;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration { 
	display: none; 
}

.search-input::-webkit-input-placeholder {
	color: var(--special-black-opacitive03);
}

.search-input:hover::-webkit-input-placeholder {
	color: var(--special-black-opacitive06);
}

.search-input::-moz-placeholder {
	color: var(--special-black-opacitive03);
}

.search-input:hover::-moz-placeholder {
	color: var(--special-black-opacitive06);
}

.search-input:focus {
	opacity: 1;
	outline: none;
	border-bottom: 2px solid var(--basic-black);
    background-position: 0px 16px;	
}

.search-button {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	width: 84px;
	height: 50px;
	margin-left: -6px;
	background-color: var(--special-yellow);
	border: 2px solid var(--basic-black);
	opacity: 0;
	outline: none;
}

.search-input:focus + .search-button{
	opacity: 1.0;
}

.search-button:hover {
	background: var(--basic-black);
	color: var(--basic-white)
}	

.search-button:active {
	background: var(--basic-black);
	color: var(--special-white-opacitive03);
	opacity: 1.0;
	outline: none;
}	

.enter-header {
	padding-left: 20px;
	margin-right: auto;
	background-image: url(../img/user-header.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;	
}

.enter-header:hover {
	opacity: 0.6;	
}

.enter-header:focus {
	opacity: 0.3;	
}

.exit-header {
	padding-right: 30px;
	opacity:0.3;
}

.compare-header {
	padding-left: 23px;	
	margin-left: auto;
	background-image: url(../img/compare-header.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}

.compare-header:hover {
	opacity: 0.6;	
}

.compare-header:focus {
	opacity: 0.3;	
}

.cart-header {	
	padding-left: 22px;
	margin-left: 63px;
	background-image: url(../img/cart-header.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;	
}

.cart-header:hover {
	opacity: 0.6;	
}

.cart-header:focus {
	opacity: 0.3;	
}

.menu-2-header {
	min-height: 22px;
	letter-spacing: 0.2em;
	display: flex;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 50px;
	align-items: center;
}

.catalog {
	margin-right: 19px;
	letter-spacing: 0.1em;
}

.catalog:hover {
	opacity: 0.6;	
}

.catalog:focus {
	opacity: 0.3;	
}

.plus {
	margin-right: 314px;
}

.delivery-header {
	margin-right: 38px;
}

.delivery-header:hover {
	opacity: 0.6;	
}

.delivery-header:focus {
	opacity: 0.3;	
}

.warranty-header {
	margin-right: 10px;
	margin-left: 10px;
}

.warranty-header:hover {
	opacity: 0.6;	
}

.warranty-header:focus {
	opacity: 0.3;	
}

.contacts-header {
	margin-left: auto;
}

.contacts-header:hover {
	opacity: 0.6;	
}

.contacts-header:focus {
	opacity: 0.3;	
}

.catalog-options {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	display: flex;
	margin-left: 60px;
	margin-top: 30px;
	list-style: none;
}

.catalog-options ul {
	padding-left: 0;
	padding-right: 60px;
	margin: 0;
}

.catalog-options li {
	margin-bottom: 20px;
	list-style: none;
}
	
.slider-2 {
	display: none;
}

.slider-3 {
	display: none;
}

.warranty-popup {
	display: none;
}

.credit-popup {
	display: none;
}

.write-us {
	margin-left: 40px;
	position: relative;
	letter-spacing: 0.2em;
	z-index: 0;
}

.write-us::before {
	content:"";
	position: absolute;
	width: 260px;
	height: 8px;
	top: 7px;
	left: -40px;
	background-color: var(--special-yellow-dark);
	z-index: -1;
}

.contacts {
	position: relative;
	margin-left: auto;
	width: 560px;
	z-index:0;
}

.big-map {
	position: absolute;
	top: 30px;
	left: -516px;
	z-index: 1;
}

.button-close-big-map {
	position: absolute;
	width: 55px;
	height: 55px;
	margin-top: 0;
	margin-right: 0;
	top: 0;
	right: 0;
	padding: 0;
	background-image: url(../img/button-close.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: var(--basic-white);
	border: 0;
	opacity: 0.5;
	outline: none;
}

.button-close-big-map:hover {
	opacity: 1;
}

.button-close-big-map:active {
	opacity: 0.3;
}

.our-detailes {
	margin-left: 24px;
	position: relative;
	letter-spacing: 0.2em;
	z-index: 0;
}

.our-detailes::before {
	content:"";
	position: absolute;
	width: 260px;
	height: 8px;
	top: 7px;
	left: -24px;
	background-color: var(--special-yellow-dark);
	z-index: -1;
}
	
main {
	background-color: var(--basic-white);
	width: 1160px;
	
	margin: 0 auto;
}

main p{
	font-family: Open Sans;
	font-size: 15px;
	line-height: 28px;
}

div.slider p {
	line-height: 20px;
}

.about-us-and-contacts {
	width: 1160px;
	min-height: 580px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 85px;
	display: flex;
	position: relative;
}

.about-us {
	width: 437px;
	margin-right: auto;
}

.rectangle-black {
	width: 80px;
    height: 7px;
    background: var(--basic-black);
}

.about-us-and-contacts p {
	margin-bottom: 40px;
}

.feedback {
	position: absolute;
	display: block;
	width: 960px;
	min-height: 550px;
	top: -625px;
	left: 100px;
	background-color: var(--basic-white);
	box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.button-close {
	width: 55px;
	height: 55px;
	margin-top: 20px;
	margin-left: 885px;
	padding: 0;
	background-image: url(../img/button-close.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: var(--basic-white);
	border: 0;
	opacity: 0.5;
	outline: none;
}

.button-close:hover {
	opacity: 1;
}

.button-close:active {
	opacity: 0.3;
}

.feedback-fields {
	margin-top: 17px;
	margin-left: 100px;
	margin-right: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.feedback-fields .appointment-item {
	margin-top: 0px;
	margin-bottom: 32px;
	width: 360px;
}

.appointment-item input {
	width: 340px;
	height: 50px;
	padding-left: 20px;
	font-family: Open Sans;
	font-size: 14px;
	line-height: 19px;
	border: 0;
	outline: none;
	background-color: var(--special-form-background);
}

.appointment-item input:hover {
	background-color: var(--special-form-background-hover);
}

.appointment-item input:focus {
	background-color: var(--basic-white);
	border: 2px solid var(--special-yellow);
	width: 336px;
	height: 46px;
	padding-left: 18px;
}

.appointment-item input:invalid {
	width: 340px;
	height: 50px;
	padding-left: 20px;
	border: 0;
	outline: none;
	background-color: var(--special-form-background-incorrect);
}

.appointment-item input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.appointment-item input::-moz-placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.appointment-item label {
	font-family: Gilroy;
	font-size: 18px;
	line-height: 22px;
	font-weight: 800;	
	display: block;
	margin-top: 0px;
	margin-bottom: 10px;
}

.appointment-item textarea {
	width: 738px;
	height: 167px;
	padding-left: 20px;
	padding-top: 15px;
	font-family: Open Sans;
	font-size: 14px;
	line-height: 19px;
	border: 0;
	outline: none;
	background-color: var(--special-form-background);
	resize: none;
}

.appointment-item textarea:hover {
	background-color: var(--special-form-background-hover);
}

.appointment-item textarea:focus {
	background-color: var(--basic-white);
	border: 2px solid var(--special-yellow);
	padding-top: 13px;
	width: 736px;
	height: 163px;
	padding-left: 18px;
}

.appointment-item textarea::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.appointment-item textarea::-moz-placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.button-send-form {
	position: relative;
	width: 200px;
	height: 22px;
	margin-top: 22px;
	margin-left: 100px;
	margin-bottom: 76px;
	font-family: Gilroy;
	font-size: 18px;
	line-height: 22px;
	font-weight: 800;
	letter-spacing: 0.2em;
	border: 0;
	background-color: var(--basic-white);
	z-index: 0;
	outline: none;
}

.button-send-form::before {
	content: "";
	position: absolute;
	width: 200px;
    height: 8px;
	left: 0px;
	top: 8px;
	z-index: -1;
    background: var(--special-yellow);
}

.button-send-form:hover::before,
.button-send-form:active::before {
	content: "";
	position: absolute;
	width: 200px;
    height: 40px;
	left: 0px;
	top: -9px;
	z-index: -1;
    background: var(--special-yellow);
}

.button-send-form:active {
	color: var(--special-black-opacitive03);
}

.curiers{
	font-size: 16px;
	line-height: 28px;
	margin-top: 60px;
	margin-bottom: 85px;
	padding-left: 0px;
}

ul.curiers{
	list-style-type: none;
}

.curiers li {
	position: relative;
	padding-left: 32px;
}

.curiers li::before {
	content: "";
	position: absolute;
	width: 4px; 
    height: 4px;
    background: var(--basic-white);
	border-radius: 50%;
	border: 2px solid var(--basic-grey-light);
	left: 0;
	top: 10px;
}

.write-us {
	display: block;
	margin-top: 85px;
}

.catalog-header {
	margin-left: 60px;
	margin-top: 44px;
	margin-bottom: 0;
}

.catalog-paths {
	margin-left: 60px;
	margin-top: 30px;
	margin-bottom: 50px;
	font-family: Open Sans;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	list-style-type: none;	
}

.main-catalog {
	padding-right: 30px;
	opacity: 0.3;
}

.main-catalog:hover {
	opacity: 0.6;
}

.main-catalog:focus {
	opacity: 0.1;
}

.items-catalog {
	padding-left: 30px;
	padding-right: 30px;
	background-image: url(../img/nav-arrow.svg);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	opacity: 0.3;
}

.items-catalog:hover {
	opacity: 0.6;
}

.items-catalog:focus {
	opacity: 0.1;
}

.selfie-monopods {
	padding-left: 30px;
	padding-right: 30px;
	background-image: url(../img/nav-arrow.svg);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	opacity: 0.3;
}

.filter-and-items {
	display: flex;
	width: 1300px;
	margin-left: -140px;
}

.filters-all {
	padding-left: 200px;
	width: 268px;
	background-color: var(--basic-grey-light);
}

.items-slider {
	display: grid;
	column-gap: 40px;
	margin-left: 72px; 
	grid-template-columns: 360px 360px;
}

.filter-section {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.1em;
}

.filter-option {
	font-family: Open Sans;
	font-size: 14px;
	line-height: 19px;
	list-style: none;
}

.show-button, .cart-button {
	font-family: Gilroy;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	background-color: var(--basic-white);
	border: 0;
	letter-spacing: 0.2em;
}

.compare-button {
	font-family: Open Sans;
	font-size: 13px;
	line-height: 18px;
	background-color: var(--basic-white);
	border: 0;
	letter-spacing: 0.1em;
}

.product-description {
	font-family: Gilroy;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
}

.price {
	font-family: Open Sans;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
}
		
footer {
	background-color: var(--basic-dark);
	width: 1440px;
	min-height:324px;
	margin: 0 auto;
	color: white;
}

.index-logo-footer {
	margin-top: 2px;
	margin-left: 140px;
}

.noindex-logo-footer {
	margin-top: 2px;
	margin-left: 140px;
}


.noindex-logo-footer:hover{
	opacity: 0.6;
}

.noindex-logo-footer:focus{
	opacity: 0.3;
}

.menu-1-footer {
	padding-top: 46px;
	margin-left: 140px;
	margin-right: 140px;
	display: flex;
}

.menu-1-footer a{
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	color: white;	
}

.enter-footer {
	margin-left: auto;
	padding-left: 20px;
	background-image: url(../img/user-footer.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;
    opacity: 0.7;	
}

.enter-footer:hover {
	opacity: 1;	
}

.enter-footer:focus {
	opacity: 0.3;	
}

.exit-footer {
	margin-left: 24px;
	opacity:0.3;
}

.compare-footer {
	margin-left: 43px;
	padding-left: 23px;
	background-image: url(../img/compare-footer.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;
    opacity: 0.7;	
}

.compare-footer:hover {
	opacity: 1;	
}

.compare-footer:focus {
	opacity: 0.3;	
}

.cart-footer {
	margin-left: 42px; 
	padding-left: 22px;
	background-image: url(../img/cart-footer.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;	
	opacity: 0.7;
}

.cart-footer:hover {
	opacity: 1;	
}

.cart-footer:focus {
	opacity: 0.3;	
}

.menu-2-footer {
	margin-right: 140px;
	margin-left: 140px;
	margin-top: 40px;
	display: flex;
}

.address{
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
}
.menu-2-footer a {
	color: var(--basic-white);
	letter-spacing: 0.2em;
}

.delivery-footer {
	margin-left: auto;
}

.delivery-footer:hover {
	opacity: 0.6;	
}

.delivery-footer:focus {
	opacity: 0.3;	
}

.warranty-footer {
	margin-right: 36px;
	margin-left: 36px;
}

.warranty-footer:hover {
	opacity: 0.6;	
}

.warranty-footer:focus {
	opacity: 0.3;	
}

.contacts-footer {
	margin-right: auto;
}

.contacts-footer:hover {
	opacity: 0.6;	
}

.contacts-footer:focus {
	opacity: 0.3;	
}

.phone-number{
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
}

.partner-links {
	margin-right: 140px;
	margin-left: 140px;
	margin-top: 67px;
	min-height: 34px;
	display: flex;
}

.partner-class-blank {
	margin-right: auto;
	flex-basis: 80px;
}

.facebook {
	opacity: 0.3;
}

.facebook:hover {
	opacity: 0.6;
}

.facebook:focus {
	opacity: 0.1;
}

.instagram {
	margin-left: 20px;
	margin-right: 20px;
	opacity: 0.3;
}

.instagram:hover {
	opacity: 0.6;
}

.instagram:focus {
	opacity: 0.1;
}

.twitter {
	opacity: 0.3;
}

.twitter:hover {
	opacity: 0.6;
}

.twitter:focus {
	opacity: 0.1;
}

.academy {
	margin-left: auto;
}

.academy:hover {
	opacity: 0.6;
}

.academy:focus {
	opacity: 0.3;
}
	
	







	
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
	
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'),
       url('open-sans-v17-latin_cyrillic-300.woff2') format('woff2'),
       url('open-sans-v17-latin_cyrillic-300.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy-300-normal.woff2') format('woff2'), 
	     url('gilroy-300-normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy-800-normal.woff2') format('woff2'), 
	  url('gilroy-800-normal.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

.highlight-red {
	outline: 1px solid red;
}

.highlight-blue {
	outline: 1px solid blue;
}