/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <=11
*/

:root {
	--basic-black: #000000;
	--basic-dark: #363636;
	--basic-white: #ffffff;
	--basic-grey: #464646;
	--basic-half-grey: #7e7e7e;
	--basic-grey-half-light: #ebebeb;
	--basic-grey-light: #e5e5e5;
	--special-yellow: #f7e296;
	--special-yellow-dark: #f0C52e;
	--special-green: #91c92f;
	--special-white-opacitive03: rgba(255, 255, 255, 0.3);
	--special-black-opacitive01: rgba(0, 0, 0, 0.1);
	--special-black-opacitive015: rgba(0, 0, 0, 0.15);
	--special-black-opacitive018: rgba(0, 0, 0, 0.18);
	--special-black-opacitive04: rgba(0, 0, 0, 0.4);
	--special-black-opacitive03: rgba(0, 0, 0, 0.3);
	--special-black-opacitive06: rgba(0, 0, 0, 0.6);
	--special-form-background: #f2f2f2;
	--special-form-background-hover: #eaeaea;
	--special-form-background-incorrect: #f6dada;
    --special-grey-half-light: #dcdcdc;
	--special-grey-third-light: #d9d9d9;
	--special-grey-range-controls: #c4c4c4;
	--special-green: #91c92f;
}

body {
    min-width: 1440px;
	margin: 0;
	padding: 0;
	font-family: Gilroy;
	font-size: 18px;
	line-height: 22px;
	font-weight: 800;
	color: var(--basic-black);
	background-color: var(--basic-white);
}
	
main {
	background-color: var(--basic-white);
	width: 100%;
	margin: 0 auto;
}


main p{
	font-family: Open Sans;
	font-size: 15px;
	line-height: 28px;
}

a {
	text-decoration: none;
	color: var(--basic-black);
}

img {
	max-width: 100%;
	height: auto;
}

.index-logo-header {
	display: block;
	margin-top: -20px;
	margin-left: 60px;
}

.noindex-logo-header {
	display: block;
	margin-top: -20px;
	margin-left: 60px;
}

.noindex-logo-header:hover{
	opacity: 0.6;
}

.noindex-logo-header:active{
	opacity: 0.3;
}

h1 {
	font-size: 47px;
	line-height: 58px;
}

h2 {
	font-size: 47px;
	line-height: 58px;
}

h3 {
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
	margin-top: 50px;
	margin-bottom: 50px;
}

.wrapper-header {
	width: 100%;
	background-color: var(--special-yellow);
}
	
header {
	background-color: var(--special-yellow);
	width: 1160px;
	min-height:186px;
	margin-top: 39px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid var(--basic-white);
}

.header-main {
	position: relative;
	min-height: 300px;
	
}

.menu-1-header {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	min-height: 50px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 15px;
	align-items: center;	
}

.menu-1-header-noindex {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	min-height: 50px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 10px;
	align-items: center;	
}

.search-form {
	margin-right: 144px;
}

.search-input {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	width: 316px;
	min-height: 48px;
	padding-right: 0px;
	padding-left: 38px;
	background-color: var(--special-yellow);
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: 1px 17px;
	border: 0;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration { 
	display: none; 
}

.search-input::-webkit-input-placeholder {
	color: var(--special-black-opacitive03);
}

.search-input:hover::-webkit-input-placeholder {
	color: var(--special-black-opacitive06);
}

.search-input::-moz-placeholder {
	color: var(--special-black-opacitive03);
}

.search-input:hover::-moz-placeholder {
	color: var(--special-black-opacitive06);
}

.search-input:focus {
	opacity: 1;
	outline: none;
	border-bottom: 2px solid var(--basic-black);
    background-position: 0px 16px;	
}

.search-button {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	width: 84px;
	height: 50px;
	margin-left: -6px;
	background-color: var(--special-yellow);
	border: 2px solid var(--basic-black);
	opacity: 0;
	outline: none;
}

.search-input:focus + .search-button{
	opacity: 1.0;
}

.search-button:hover {
	background: var(--basic-black);
	color: var(--basic-white)
}	

.search-button:active {
	background: var(--basic-black);
	color: var(--special-white-opacitive03);
	opacity: 1.0;
	outline: none;
}	

.enter-header {
	padding-left: 22px;
	padding-bottom: 2px;
	margin-right: auto;
	background-image: url(../img/user-header.svg);
	background-repeat: no-repeat;
	background-position: 0px 6px;	
}

.enter-header.noindex {
	background-position: 0px 6px;	
}

.enter-header:hover {
	opacity: 0.6;	
}

.enter-header:focus {
	opacity: 0.3;	
}

.exit-header {
	padding-right: 42px;
	opacity:0.3;
}

.compare-header {
	padding-left: 24px;	
	padding-bottom: 2px;
	margin-left: auto;
	background-image: url(../img/compare-header.svg);
	background-repeat: no-repeat;
	background-position: 0px 6px;
}

.compare-header:hover {
	opacity: 0.6;	
}

.compare-header:active {
	opacity: 0.3;	
}

.cart-header {	
	padding-left: 22px;
	padding-bottom: 2px;
	padding-right: 1px;
	margin-left: 43px;
	background-image: url(../img/cart-header.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;	
}

.cart-header.noindex {	
	padding-left: 22px;
}

.cart-header:hover {
	opacity: 0.6;	
}

.cart-header:active {
	opacity: 0.3;	
}

.menu-2-header {
	min-height: 22px;
	letter-spacing: 0.2em;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 33px;

}

.catalog {
	padding-right: 38px;
	padding-top: 0px;
	padding-bottom: 1px;
	margin-right: 310px;
	letter-spacing: 0.1em;
	background-image: url(../img/plus.svg);
	background-repeat: no-repeat;
	background-position: 210px 4px;	
}

.catalog:hover {
	color: var(--special-black-opacitive06);	
}

.catalog:active {
	color: var(--special-black-opacitive03);	
}

.delivery-header {
	margin-right: 25px;
	padding-top: 0px;
}

.delivery-header:hover {
	opacity: 0.6;	
}

.delivery-header:active {
	opacity: 0.3;	
}

.warranty-header {
	margin-right: 10px;
	margin-left: 10px;
}

.warranty-header:hover {
	opacity: 0.6;	
}

.warranty-header:active {
	opacity: 0.3;	
}

.contacts-header {
	display: block;
	margin-left: auto;
	margin-right: -4px;
}

.contacts-header:hover {
	opacity: 0.6;	
}

.contacts-header:active {
	opacity: 0.3;	
}

.catalog-options-popup {
	position: absolute;
	left: -60px;
	top: 22px;
	width: 1100px;
	min-height: 135px;
	padding-left: 60px;
	padding-top: 30px;
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	display: none;
	flex-wrap: wrap;
	flex-grow: 1;	
	list-style: none;
	background: var(--special-yellow);
	letter-spacing: 0;
	z-index: 2;
}

.catalog-options-popup .active {
	opacity: 0.3;
}

.catalog:hover ~ .catalog-options-popup {
	display: flex;
}

.catalog-options-popup:hover {
	display: flex;
}

.catalog:active ~ .catalog-options-popup {
	display: flex;
}

.catalog-options-popup ul {
	padding-left: 0;
	padding-right: 63px;
	margin: 0;
}

.catalog-options-popup li {
	margin-bottom: 16px;
	list-style: none;
}

.catalog-options-popup a:hover {
	opacity: 0.6;
}

.catalog-options-popup a:active {
	opacity: 0.3;
}

.rectangle-white {
	position:absolute;
	width: 100px;
    height: 7px;
    background: var(--basic-white);
	top: 92px;
	left: 540px;
}

.slider-section {
	position: relative;
	width: 1160px;
	margin: 0 auto;
}

.slider {
	position: relative;
	height: 509px;
	margin-top: -146px;
	background: transparent;
	z-index: 1;
}

.slider-toggle-up1 + label::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 357px;
	left: 1000px;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	z-index: 2;

}

.slider-toggle-up1 + label:hover::before {
	cursor: pointer;
}

.slider-toggle-up2 + label::before {
content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 357px;
	left: 1030px;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	z-index: 2;
}

.slider-toggle-up2 + label:hover::before {
	cursor: pointer;
}

.slider-toggle-up3 + label::before {
content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 357px;
	left: 1060px;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	z-index: 2;
}

.slider-toggle-up3 + label:hover::before {
	cursor: pointer;
}

.slider-toggle-up1:checked + label::after {
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	top: 360px;
	left: 1003px;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	z-index: 2;
}

.slider-toggle-up2:checked + label::after {
content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	top: 360px;
	left: 1033px;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	z-index: 2;
}

.slider-toggle-up3:checked + label::after {
content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	top: 360px;
	left: 1063px;
	border: 1px solid var(--basic-black);
	border-radius: 50%;
	z-index: 2;
}

.slider-toggle-up1,
.slider-toggle-up2,
.slider-toggle-up3 {
	position: absolute;
	top: 150px;
	z-index: 2;
}

.slider-toggle-up2 {
	left: 20px;
}

.slider-toggle-up3 {
	left: 40px;
}

.slider-1, 
.slider-2, 
.slider-3 {
	display: none;
}

.slider-toggle-up1:checked ~ .slider-1 {
	display: flex;
}

.slider-toggle-up2:checked ~ .slider-2 {
	display: flex;
}

.slider-toggle-up3:checked ~ .slider-3 {
	display: flex;
}

.slider-picture {
	width: 600px;
	padding-right: 0px;
}

.slider-picture img {
	display: block;
	margin-right: 0px;
}


.slider-1 .slider-picture img {
	margin-left: 89px;
	margin-top: 17px;
}

.slider-2 .slider-picture img {
	margin-left: 116px;
	margin-top: 43px;
}

.slider-3 .slider-picture img {
	margin-left: 30px;
	margin-top: 100px;
}

.slider-description {
	width: 560px;	
}

.slide-number {
	display: block;
	height: 170px;
	font-size: 179px;
	line-height: 219px;
	color: var(--basic-white);
	vertical-align: text-bottom;
	text-align: end;
	background: transparent;
	margin-right: 47px;
	margin-left: auto;
	margin-top: -1px;
}

.slider-number-02 {
	margin-right: 54px;
}

.slider-number-03 {
	margin-right: 53px;
}

.slider h2{
	margin-top: -59px;
	margin-bottom: 26px;
}	

.slide-item-motto {
	line-height: 20px; 
}

.slide-details {
	margin-left: 44px;
	margin-bottom: 60px;
	width: 175px;
	display: block;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	z-index: 0;
}

.slide-details::before {
	content:"";
	position: absolute;
	width: 220px;
	height: 8px;
	top: 7px;
	left: -44px;
	background-color: var(--special-yellow-dark);
	z-index: -1;
}

.slide-details:hover::before,
.slide-details:active::before {
	content:"";
	position: absolute;
	width: 220px;
	height: 40px;
	top: -10px;
	left: -44px;
	background-color: var(--special-yellow-dark);
	z-index: -1;
}

.slide-details:active {
	color: var(--special-black-opacitive03);
}

.slide-item-description02 {
	margin-left: 1px;
}

.slide-item-description02 {
	margin-right: 40px;
}
	

.slide-item-description p{
	font-family: Gilroy;
	font-size: 36px;
	line-height: 42px;
	font-weight: 300;
	letter-spacing: 0.1em;
}

.slide-item-description span{
	font-family: Gilroy;
	font-size: 13px;
	line-height: 15px;
	font-weight: 300;
	letter-spacing: 0.1em;
}

.slide-item-description {
	display: flex;
}

.slide-item-description .parameter {
	margin-top: 0;
	margin-bottom: 11px;
}

.slide-item-description div{
	margin-right: 62px;
}

.slide-item-description03 div {
	margin-right: 26px;
}

.parameter-material {
	padding-left: 4px;
}

.slider-description p{
	margin-bottom: 60px;
}

.catalog-options-index {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 93px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-icon-link {
	width: 160px;
}

.catalog-icon {
	width: 160px;
	height: 160px;
	background-color: var(--special-yellow);
}

.catalog-icon-link:hover > .catalog-icon {
	background-color: var(--special-yellow-dark);
}

.catalog-icon-link:active > .catalog-icon img{
	opacity: 0.3;
}

.catalog-options-index p{
	margin-top: 38px;
	margin-bottom: 0;
	font-family: Gilroy;
	font-size: 18px;
	line-height: 22px;
	font-weight: 800;
	letter-spacing: 0.05em;
}

.catalog-options-index a:nth-child(4) p{
	letter-spacing: 0;
}

.catalog-options-index a:nth-child(1) img{
	padding-top: 52px;
	padding-left: 31px;
}

.catalog-options-index a:nth-child(2) img{
	padding-top: 26px;
	padding-left: 37px;
}

.catalog-options-index a:nth-child(3) img{
	padding-top: 36px;
	padding-left: 44px;
}

.catalog-options-index a:nth-child(4) img{
	padding-top: 48px;
	padding-left: 27px;
}

.catalog-options-index a:nth-child(5) img{
	padding-top: 31px;
	padding-left: 52px;
}

.catalog-options-index a:nth-child(6) img{
	padding-top: 46px;
	padding-left: 14px;
}

.virtual-reality-link {
	padding-left: 1px;
}

.conditions h3 {
	margin-top: 86px;
	margin-bottom: 40px;
}

.wrapper-conditions {
	width: 100%;
	background-color: var(--basic-grey-light);
	
}
	
.conditions {
	width: 1160px;
	height: 288px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -115px;
	margin-top: 164px;
	margin-bottom: 89px;
	display: flex;
	z-index: 0;
}

.conditions p {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.1em;
}

.conditions:after {
	content: "";
	position: absolute;
	width: 7px;
	height: 320px;
	left: 277px;
	top: 15px;
	background: var(--basic-black);
}

.conditions-blank {
	width: 277px;
}

.conditions-slide {
	flex-grow: 1;
	justify-content: space-between;
	margin-left: 123px;
}

.conditions-slide img {
	margin-top: 48px;
	margin-right: 2px;
}

.delivery-slide p {
	line-height: 28px;
}

.credit-slide p {
	line-height: 28px;
}

.warranty-slide img {
	margin-right: -16px;
}

.credit-slide img {
	margin-top: 24px;
	margin-right: 8px;
}

.label-delivery,
.label-warranty,
.label-credit {
	position: absolute;
	width: 160px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	cursor: pointer;
}

.label-delivery {
	top: 103px;
	left:19px;
}

.label-warranty {
	top: 164px;
	left:24px;
}

.label-credit {
	top: 226px;
	left:38px;
}

.slider-toggle-delivery,
.slider-toggle-warranty,
.slider-toggle-credit {
	display: block;
	position: absolute;
	top: 0;
	z-index: 2;
}

.label-delivery::before,
.label-warranty::before,
.label-credit::before  {
	content: "";
	position: absolute;
	width: 160px;
	height: 8px;
	top: 7px;
	background: var(--special-yellow-dark);
	z-index: -1;
}

.label-delivery::before,
.label-warranty::before,
.label-credit::before  {
	left: -20px;
}

.label-warranty::before  {
	top: 8px;
	left: -24px;
}

.label-credit::before  {
	top: 8px;
	left: -38px;
}

.label-delivery:hover::before,
.label-warranty:hover::before,
.label-credit:hover::before  {
	content: "";
	position: absolute;
	width: 160px;
	height: 40px;
	top: -10px;
	background: var(--special-yellow-dark);
	z-index: -1;
}

.slider-toggle-delivery:checked + .label-delivery::before,
.slider-toggle-warranty:checked + .label-warranty::before,
.slider-toggle-credit:checked + .label-credit::before  {
	content: "";
	position: absolute;
	width: 280px;
	height: 40px;
	top: -8px;
	left: -19px;
	background: var(--basic-black);
	z-index: -1;
}

.slider-toggle-warranty:checked + .label-warranty::before  {	
	left: -24px;
}

.slider-toggle-credit:checked + .label-credit::before  {	
	left: -38px;
}

.slider-toggle-delivery:checked + .label-delivery,
.slider-toggle-warranty:checked + .label-warranty,
.slider-toggle-credit:checked + .label-credit  {
	color: var(--special-yellow);
}

.slider-toggle-delivery::before {
	top: 111px;
}

.slider-toggle-warranty::before {
	top: 163px;
}	

.slider-toggle-warranty {
	left: 20px;
}

.slider-toggle-credit {
	left: 40px;
}

.delivery-slide, 
.warranty-slide, 
.credit-slide {
	display: none;
}

.slider-toggle-delivery:checked ~ .delivery-slide {
	display: flex;
}

.slider-toggle-warranty:checked ~ .warranty-slide {
	display: flex;
}

.slider-toggle-credit:checked ~ .credit-slide {
	display: flex;
}

.partner-logos {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 86px;
	display: flex;
	flex-wrap: wrap;	
	justify-content: space-between;
}

.partner-logos a {
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	opacity: 0.17;
}

.partner-logos a:hover,
.partner-logos a:active,
.partner-logos a:focus {
	-webkit-filter: none;
	        filter: none;
	opacity: 1;
}

.write-us {
	margin-left: 40px;
	position: relative;
	letter-spacing: 0.2em;
	z-index: 0;
}

.write-us::before {
	content:"";
	position: absolute;
	width: 260px;
	height: 8px;
	top: 7px;
	left: -40px;
	background-color: var(--special-yellow-dark);
	z-index: -1;
}

.contacts {
	position: relative;
	margin-left: auto;
	width: 560px;
	z-index:0;
}

.big-map {
	position: absolute;
	top: 36px;
	left: -516px;
	z-index: 1;
	display: none;
}

.button-close-big-map {
	position: absolute;
	width: 55px;
	height: 55px;
	margin-top: -12px;;
	margin-right: -12px;
	top: 42px;
	right: 48px;
	padding: 0;
	background-image: url(../img/button-close.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: none;
	border: 0;
	opacity: 0.5;
	outline: none;
}

.button-close-big-map:hover {
	opacity: 1;
}

.button-close-big-map:active {
	opacity: 0.3;
}

.our-detailes {
	margin-left: 24px;
	position: relative;
	letter-spacing: 0.2em;
	z-index: 0;
}

.our-detailes::before {
	content:"";
	position: absolute;
	width: 260px;
	height: 8px;
	top: 7px;
	left: -24px;
	background-color: var(--special-yellow-dark);
	z-index: -1;
}

.about-us-and-contacts {
	width: 1160px;
	min-height: 581px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 85px;
	display: flex;
	position: relative;
}

.about-us-and-contacts h3 {
	margin-bottom: 40px;
}
	

.about-us-and-contacts p {
	font-family: Open Sans;
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 40px;
	margin-top: 0px;
}

.about-us {
	width: 500px;
	margin-right: auto;
}

.rectangle-black {
	width: 80px;
    height: 7px;
    background: var(--basic-black);
}

.feedback {
	position: absolute;
	display: none;
	width: 960px;
	min-height: 550px;
	top: -640px;
	left: 86px;
	background-color: var(--basic-white);
	box-shadow: 0px 10px 16px var(--special-black-opacitive015);
}

.button-close {
	width: 55px;
	height: 55px;
	margin-top: 20px;
	margin-left: 885px;
	padding: 0;
	background-image: url(../img/button-close.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-color: var(--basic-white);
	border: 0;
	opacity: 0.5;
	outline: none;
}

.button-close:hover {
	opacity: 1;
}

.button-close:active {
	opacity: 0.3;
}

.feedback-fields {
	margin-top: 11px;
	margin-left: 100px;
	margin-right: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.feedback-fields .appointment-item {
	margin-top: 0px;
	margin-bottom: 32px;
	width: 360px;
}

.appointment-item input {
	width: 338px;
	height: 48px;
	padding-left: 20px;
	font-family: Open Sans;
	font-size: 14px;
	line-height: 19px;
	border: 0;
	outline: none;
	background-color: var(--special-form-background);
}

.appointment-item input:hover {
	background-color: var(--special-form-background-hover);
}

.appointment-item input:focus {
	background-color: var(--basic-white);
	border: 2px solid var(--special-yellow);
	width: 336px;
	height: 46px;
	padding-left: 18px;
}

.appointment-item input:focus:invalid {
	width: 340px;
	height: 50px;
	padding-left: 20px;
	border: 0;
	outline: none;
	background-color: var(--special-form-background-incorrect);
}

.appointment-item input::-webkit-input-placeholder {
	color: var(--special-black-opacitive04);
}

.appointment-item input::-moz-placeholder {
	color: var(--special-black-opacitive04);
}

.appointment-item label {
	font-family: Gilroy;
	font-size: 18px;
	line-height: 22px;
	font-weight: 800;	
	display: block;
	margin-top: 0px;
	margin-bottom: 11px;
}

.appointment-item label.label-text {
	margin-bottom: 10px;
}

.appointment-item textarea {
	width: 734px;
	height: 146px;
	padding-left: 20px;
	padding-top: 15px;
	font-family: Open Sans;
	font-size: 14px;
	line-height: 19px;
	border: 2px solid var(--special-form-background);
	outline: none;
	background-color: var(--special-form-background);
	resize: none;
}

.appointment-item textarea:hover {
	background-color: var(--special-form-background-hover);
	border: 2px solid var(--special-form-background-hover);
}

.appointment-item textarea:focus {
	background-color: var(--basic-white);
	border: 2px solid var(--special-yellow);
}

.appointment-item textarea:focus:invalid {
	background-color: var(--special-form-background-incorrect);
	border: 2px solid var(--special-form-background-incorrect);	
}

.appointment-item textarea::-webkit-input-placeholder {
	color: var(--special-black-opacitive04);
}

.appointment-item textarea::-moz-placeholder {
	color: var(--special-black-opacitive04);
}

.button-send-form {
	position: relative;
	width: 200px;
	height: 22px;
	margin-top: 13px;
	margin-left: 100px;
	margin-bottom: 70px;
	font-family: Gilroy;
	font-size: 18px;
	line-height: 22px;
	font-weight: 800;
	letter-spacing: 0.2em;
	border: 0;
	background-color: var(--basic-white);
	z-index: 0;
	outline: none;
}

.button-send-form::before {
	content: "";
	position: absolute;
	width: 200px;
    height: 8px;
	left: 0px;
	top: 8px;
	z-index: -1;
    background: var(--special-yellow);
}

.button-send-form:hover::before,
.button-send-form:active::before {
	content: "";
	position: absolute;
	width: 200px;
    height: 40px;
	left: 0px;
	top: -9px;
	z-index: -1;
    background: var(--special-yellow);
}

.button-send-form:active {
	color: var(--special-black-opacitive03);
}

.curiers{
	font-size: 16px;
	line-height: 28px;
	margin-top: 60px;
	margin-bottom: 78px;
	padding-left: 0px;
}

ul.curiers{
	list-style-type: none;
}

.curiers li {
	position: relative;
	padding-left: 32px;
	padding-bottom: 15px;
}

.curiers li:nth-child(2) {
	padding-bottom: 14px;
}

.curiers li:last-child {
	padding-bottom: 0px;
}

.curiers li::before {
	content: "";
	position: absolute;
	width: 4px; 
    height: 4px;
    background: var(--basic-white);
	border-radius: 50%;
	border: 2px solid var(--basic-grey-light);
	left: 0;
	top: 10px;
}

.write-us {
	display: block;
	margin-top: 80px;
}

.catalog-monopods {
	width: 1160px;
	margin: 0 auto;
}

.catalog-header {
	margin-left: 60px;
	margin-top: 44px;
	margin-bottom: 0;
}

.catalog-paths {
	margin-left: 60px;
	margin-top: 30px;
	padding-left: 0;
	margin-bottom: 50px;
	font-family: Open Sans;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
}

.catalog-paths li {
	position: relative;
	margin-right: 40px;
}

.catalog-paths li,  
.catalog-paths li a {
	color: var(--special-black-opacitive03);
}

.catalog-paths li a:hover{
	color: var(--special-black-opacitive06);
}

.catalog-paths li a:active {
	color: var(--special-black-opacitive01);
}

.catalog-paths li:first-child::after {
	content: url(../img/nav-arrow.svg);
	position: absolute;
	right: -21px;
	top: 0px;
}

.catalog-paths li:nth-child(2)::after {
	content: url(../img/nav-arrow.svg);
	position: absolute;
	right: -25px;
	top: 0px;
}

.catalog-paths li:last-child {
	margin-right: 0;
}

.catalog-paths li:last-child::after {
	display: none;
}

.filter-parameters {
	display: block;
	width: 328px;
	background: var(--special-grey-half-light);
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 9px;
	padding-left: calc((100% - 1160px) / 2);
}

.filter-parameters p {
	padding-left: 60px;
}

.sorting-parameters {
	display: flex;
	width: 832px;
	padding-top: 10px;
	padding-right: calc((100% - 1160px) / 2);
}

.filter-sorting-bar {
	height: 70px;
	display: flex;
	width: 100%;
	align-items: stretch;
	background: var(--basic-grey-light);
}

.sorting-header {	
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 72px;
	margin-right: 72px;
	padding-top: 15px;
	
}

.filter-sorting-bar p{
	font-family: Gilroy;
	font-size: 16px;
	line-height: 20px;
	font-weight: 800;
	letter-spacing: 0.1em;
}

.filter-sorting-bar ul{
	font-family: Open Sans;
	font-size: 14px;
	line-height: 19px;
	list-style-type: none;
	padding-left: 0;
	padding-top: 1px;
}

.filter-sorting-bar li{
	display: inline;
	margin-right: 29px;
	padding-left: 0;
}

.filter-sorting-bar a {
	opacity: 0.3;
}

.filter-sorting-bar a:hover {
	opacity: 0.6;
}

.filter-sorting-bar a:active {
	opacity: 1;
}

.filter-sorting-bar .filter-arrow-up {
	margin-top: 13px;
	margin-left: auto;
	opacity: 0.2;
}

.filter-sorting-bar .filter-arrow-up:hover {
	opacity: 0.4;
}

.filter-sorting-bar .filter-arrow-up:active {
	opacity: 1;
}

.filter-sorting-bar .filter-arrow-down {
	margin-top: 13px;
	margin-left: 22px;
	margin-right: 4px;
	opacity: 1;
}

.filter-sorting-bar .filter-arrow-down:hover {
	opacity: 0.4;
}

.filter-sorting-bar .filter-arrow-down:active {
	opacity: 1;
}

.filter-and-items {
	display: flex;
	width: 100%;
	margin-left: 0px;
}

.filters-all {
	width: 328px;
	padding-left: calc((100% - 1160px)/2);
	background-color: var(--basic-grey-light);
}

.items-slider {
	width: 760px;
	padding-right: calc((100% - 1160px)/2);
	display: grid;
	-moz-column-gap: 40px;
	     column-gap: 40px;
	row-gap: 48px;
	margin-left: 72px; 
	margin-top: 70px;
	margin-bottom: auto;
	grid-template-columns: 360px 360px;
}

.filters-wrapper {
	padding-left: 60px;
}

.filter-price{
	margin-bottom: 0px;
	margin-left: 0px;
}

.rectangle-200x2-price {
	margin-top: 70px;
	margin-bottom: 15px;
	width: 200px;
	height: 2px;
	background: var(--basic-black);
}

.rectangle-200x2 {
	margin-top: 36px;
	margin-bottom: 14px;
	width: 200px;
	height: 2px;
	background: var(--basic-black);

}

.filter-option {
	font-family: Open Sans;
	font-size: 14px;
	line-height: 19px;
	list-style: none;
}

fieldset{
	margin: 0;
	padding:0;
	border: none;
}

legend{
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.1em;
}

.price-controls label,
.price-controls input {
	font-family: Gilroy;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
}

.price-controls input {
	width: 71px;
	border: none;
	background-color: var(--basic-grey-light);
	outline: none;
}

.range-controls {
	position: relative;
	width: 200px;
	margin-top: 38px;
	margin-bottom: 13px;
}



.range-controls .scale {
	height: 2px;
	background-color: var(--basic-black);
	opacity: 0.2;
}

.range-controls .bar {
	margin-top: -2px;
	width: 60%;
	height: 2px;
	background-color: var(--special-green);
	opacity: 1;
}

.range-controls .toggle {
	position: absolute;
	top: -10px;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid var(--basic-white);
	background-color: var(--special-grey-range-controls);
	border-radius: 50%;
	box-shadow: 0px 2px 2px var(--special-black-opacitive018); 
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 0px;
}

.range-controls .toggle-max {
	left: 114px;
}

.filter-option {
	margin-top: 32px;
}

.filter-option li {
	position: relative;
	margin-bottom: 20px;
	margin-left: 2px;
}

.filter-option li:last-child {
	margin-bottom: 0px;
}

.rectangle-200x2-bluetooth {
	width: 200px;
	height: 2px;
	background-color: var(--basic-black);
	margin-top: 26px;
	margin-bottom: 15px;
}

.filter-option label {
	position: relative;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}
	
.filter-color-checkbox + label::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: -2px;
	left: -42px;
	border: 2px solid var(--basic-black);
}

.filter-color-checkbox + label:hover::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: -2px;
	left: -42px;
	border: 2px solid var(--basic-black);
	opacity: 0.6;
}

.filter-color-checkbox:disabled + label::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: -2px;
	left: -42px;
	border: 2px solid var(--basic-black);
	opacity: 0.25;
}

.filter-color-checkbox:checked + label::after {
	content: url(../img/checkbox-flag.svg);
	position: absolute;
	top: 1px;
	left: -37px;
}

.filter-color-checkbox:checked + label:hover::after {
	content: url(../img/checkbox-flag.svg);
	position: absolute;
	top: 1px;
	left: -37px;
	opacity: 0.6;
}

.filter-color-checkbox:checked.filter-color-checkbox:disabled + label::after {
	content: url(../img/checkbox-flag.svg);
	position: absolute;
	top: 1px;
	left: -37px;
	opacity: 0.6;
}

.filter-bluetooth-radio + label::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: -3px;
	left: -42px;
	border: 2px solid var(--basic-black);
	border-radius: 50%;
}

.filter-bluetooth-radio + label:hover::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: -3px;
	left: -42px;
	border: 2px solid var(--basic-black);
	border-radius: 50%;
	opacity: 0.6;
}

.filter-bluetooth-radio:disabled + label::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: -3px;
	left: -42px;
	border: 2px solid var(--basic-black);
	border-radius: 50%;
	opacity: 0.25;
}

.filter-bluetooth-radio:checked + label::after {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	top: 5px;
	left: -34px;
	background-color: var(--basic-black);
	border-radius: 50%;
}

.filter-bluetooth-radio:checked + label:hover::after {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	top: 5px;
	left: -34px;
	background-color: var(--basic-black);
	border-radius: 50%;
	opacity: 0.6;
}

.filter-bluetooth-radio:disabled.filter-bluetooth-radio:checked + label::after {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	top: 5px;
	left: -34px;
	background-color: var(--basic-black);
	border-radius: 50%;
	opacity: 0.25;
}

.filter-option.bluetooth li{
	margin-bottom: 21px;
}

.show-button {
	position: relative;
	font-family: Gilroy;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	padding: 0;
	margin-left: 37px;
	margin-top: 31px;
	margin-bottom: 30px;
	background-color: var(--basic-grey-light);
	border: 0;
	letter-spacing: 0.2em;
	z-index: 0;
}

.show-button::before {
	content: "";
	position: absolute;
	width: 200px;
    height: 8px;
	left: -37px;
	top: 7px;
	z-index: -1;
    background: var(--special-yellow-dark);
}

.show-button:hover::before,
.show-button:active::before {
	content: "";
	position: absolute;
	width: 200px;
    height: 40px;
	left: -37px;
	top: -9px;
	z-index: -1;
    background: var(--special-yellow-dark);
}

.show-button:active {
	color: var(--special-black-opacitive03);
	outline: none;
}

.catalog-item-info {
	position: relative;
	z-index: 0;
	background: var(--basic-white);
}

.new-label {
	display: block;
	position: absolute;
	top: 29px;
	right: 27px;
}

.catalog-image {
	width: 360px;
	height: 380px;
	object-fit: contain;
	position: relative;
	z-index: 1;	
}

.catalog-item-info:hover img{
	position: relative;
	opacity: 0.7;
	z-index: -2;
}

.cart-button {
	font-family: Gilroy;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	background-color: var(--basic-white);
	border: 0;
	letter-spacing: 0.2em;
	background: none;
	position: absolute;
	top: 180px;
	left: 117px;
	z-index: 0;
}

.cart-button:hover {
	z-index: 2;
}

.cart-button::before {
	content: "";
	position: absolute;
	width: 200px;
    height: 8px;
	left: -37px;
	top: 7px;
	z-index: -1;
    background: var(--special-yellow-dark);
}

.cart-button:hover::before,
.cart-button:active::before {
	content: "";
	position: absolute;
	width: 200px;
    height: 40px;
	left: -37px;
	top: -9px;
	z-index: -1;
    background: var(--special-yellow-dark);
}

.cart-button:active {
	color: var(--special-black-opacitive03);
}

.compare-button {
	font-family: Open Sans;
	font-size: 13px;
	line-height: 18px;
	background-color: var(--basic-white);
	border: 0;
	letter-spacing: 0.1em;
	background: none;
	position: absolute;
	top: 224px;
	left: 97px;
	z-index: 0;
	opacity: 0.5;
	outline: none;
}

.compare-button:hover {
	opacity: 1;
}

.compare-button:active {
	opacity: 0.2;
}

.product-description {
	font-family: Gilroy;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
}

.item-price-description {
	display: flex;
	align-items: flex-start;
	margin-top: 25px;
	margin-left: 1px;
	margin-bottom: 0;
}

.product-description {
	width: 273px;
	margin-top: 0;
	margin-bottom: 0;
}

.price {
	margin-right: -7px;
	padding-top: 2px;
	padding-left: 2px;
	margin-left: 5px;
	font-family: Open Sans;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
}

.price.professional-selfie {
	margin-left: 2px;
}

.catalog-pages {
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	margin-top: -8px;
	margin-bottom: 78px;
	background: var(--basic-grey-half-light);
	text-transform: uppercase;
}

.catalog-pages a{
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
}

.catalog-pages ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.catalog-pages li {
	display: inline;
	margin-right: 24px;
}

.catalog-pages li:last-child {
	margin-right: 0;
}

.catalog-pages li a {
	color: var(--special-black-opacitive03);
}

.catalog-pages li a:hover {
	color: var(--special-black-opacitive06);
}

.catalog-pages li a:active {
	color: var(--special-black);
}

.first-page {
	width: 120px;
	height: 45px;
	text-align: center;
	padding-top: 25px;
	margin-right: 3px;
}

.last-page {
	width: 117px;
	padding-right: 3px;
	height: 45px;
	text-align: center;
	padding-top: 25px;
}

.first-page:hover,
.last-page:hover {
	background: var(--special-grey-third-light);
}

.first-page:active,
.last-page:active {
	color: var(--special-black-opacitive03);
}

.wrapper-footer {
	width: 100%;
	background-color: var(--basic-dark)
}

footer {
	background-color: var(--basic-dark);
	width: 1440px;
	min-height:324px;
	margin: 0 auto;
	color: white;
}

.index-logo-footer {
	margin-top: -2px;
	margin-left: 140px;
}

.noindex-logo-footer {
	display: block;
	margin-top: -2px;
	margin-left: 140px;
}


.noindex-logo-footer:hover{
	opacity: 0.6;
}

.noindex-logo-footer:active{
	opacity: 0.3;
}

.menu-1-footer {
	padding-top: 46px;
	margin-left: 140px;
	margin-right: 140px;
	display: flex;
}

.menu-1-footer a{
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	color: white;	
}

.enter-footer {
	margin-left: auto;
	padding-left: 26px;
	background-image: url(../img/user-footer.svg);
	background-repeat: no-repeat;
	background-position: 1px 4px;
    opacity: 0.7;	
}

.enter-footer:hover {
	opacity: 1;	
}

.enter-footer:active {
	opacity: 0.3;	
}

.enter-footer-noindex {
	margin-left: auto;
	padding-left: 26px;
	background-image: url(../img/user-footer.svg);
	background-repeat: no-repeat;
	background-position: 0px 4px;
    opacity: 0.7;	
}

.enter-footer-noindex:hover {
	opacity: 1;	
}

.enter-footer-noindex:active {
	opacity: 0.3;	
}

.exit-footer {
	margin-left: 23px;
	opacity:0.3;
}

.compare-footer {
	margin-left: 40px;
	padding-left: 26px;
	background-image: url(../img/compare-footer.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;
    opacity: 0.7;	
}

.compare-footer:hover {
	opacity: 1;	
}

.compare-footer:active {
	opacity: 0.3;	
}

.compare-footer-noindex {
	margin-left: 40px;
	padding-left: 26px;
	background-image: url(../img/compare-footer.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;
    opacity: 0.7;	
}

.compare-footer-noindex:hover {
	opacity: 1;	
}

.compare-footer-noindex:active {
	opacity: 0.3;	
}

.cart-footer {
	margin-left: 41px; 
	padding-left: 23px;
	background-image: url(../img/cart-footer.svg);
	background-repeat: no-repeat;
	background-position: -0px 5px;	
	opacity: 0.7;
}

.cart-footer:hover {
	opacity: 1;	
}

.cart-footer:active {
	opacity: 0.3;	
}

.cart-footer-noindex {
	margin-left: 41px; 
	padding-left: 23px;
	background-image: url(../img/cart-footer.svg);
	background-repeat: no-repeat;
	background-position: 0px 5px;	
	opacity: 0.7;
}

.cart-footer-noindex:hover {
	opacity: 1;	
}

.cart-footer-noindex:active {
	opacity: 0.3;	
}

.menu-2-footer {
	margin-right: 140px;
	margin-left: 140px;
	margin-top: 33px;
	display: flex;
	align-items: center;
}

.address{
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
}
.menu-2-footer a {
	color: var(--basic-white);
	letter-spacing: 0.2em;
}

.delivery-footer {
	margin-left: auto;
}

.delivery-footer:hover {
	opacity: 0.6;	
}

.delivery-footer:active {
	opacity: 0.3;	
}

.warranty-footer {
	margin-right: 33px;
	margin-left: 32px;
	margin-bottom: 0px;
}

.warranty-footer:hover {
	opacity: 0.6;	
}

.warranty-footer:active {
	opacity: 0.3;	
}

.contacts-footer {
	margin-right: auto;
}

.contacts-footer:hover {
	opacity: 0.6;	
}

.contacts-footer:active {
	opacity: 0.3;	
}

.phone-number{
	font-family: Open Sans;
	font-size: 15px;
	line-height: 20px;
	margin-left: 37px;
}

.partner-links {
	margin-right: 140px;
	margin-left: 140px;
	margin-top: 69px;
	height: 34px;
	display: flex;
	align-items: center;
}

.rectangle-yellow {
	margin-right: 0;
	margin-bottom: 5px;
	width: 80px;
    height: 7px;
    background: var(--special-yellow-dark);
}

.facebook {
	opacity: 0.3;
	margin-left: auto;
}

.facebook:hover {
	opacity: 0.6;
}

.facebook:active {
	opacity: 0.1;
}

.instagram {
	margin-left: 20px;
	margin-right: 20px;
	opacity: 0.3;
}

.instagram:hover {
	opacity: 0.6;
}

.instagram:active {
	opacity: 0.1;
}

.twitter {
	opacity: 0.3;
	margin-right: auto;
}

.twitter:hover {
	opacity: 0.6;
}

.twitter:active {
	opacity: 0.1;
}

.academy {
	margin-left: 54px;
	margin-top: 1px;
}

.academy:hover {
	opacity: 0.6;
}

.academy:active {
	opacity: 0.3;
}

.header-blank {
	position: relative;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
	
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
	
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'),
       url('open-sans-v17-latin_cyrillic-300.woff2') format('woff2'),
       url('open-sans-v17-latin_cyrillic-300.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy-300-normal.woff2') format('woff2'), 
	     url('gilroy-300-normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('gilroy-800-normal.woff2') format('woff2'), 
	  url('gilroy-800-normal.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}